.modal-header {
  border-bottom: none; 
  align-items: center;
  
  i {
    vertical-align: middle;
  }
  
  .close {
    align-self: flex-start;
  }
}

.modal-content {
  box-shadow: $theme-shadow-2;
  border-color: rgba(0, 0, 0, 0.05);
}

.modal-footer {
  border-top: none;
  background: darken($gray-100, 1%);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.modal-icon {
  margin-right: 20px;
  padding: 10px;
  background-color: $gray-200;
  border-radius: 50%;
}